
header {
	border: solid black 1px;
}

li {
	display: inline;
	border: solid black 1px;
}

.disabled {
	color: grey;
}

.active {
	color: yellow;
}

.red {
	color: red;
}

.blue {
	color: blue;
}

.red + h4 {
	background-color: red;
}

.blue + h4 {
	background-color: blue;
}

h4 {
	boarder: solid black 1px;
}

.promo {
	font-weight: 900;
}

input {
	height: 25px;

}
